.table{
margin-top: 25px;

}
#baslik {
    text-align: center; /* Başlığı ortalamak için */
    background-color: black; /* Arka plan rengini siyah yapmak için */
    color: yellow; /* Yazı rengini sarı yapmak için */
    padding: 1rem; /* İsteğe bağlı: Başlık içindeki boşluğu artırmak için */
  }
  
.sira{

    text-align: center;
   

}